{% extends "./common/layout.html" %}
{% block headscript %}
<link rel="stylesheet" href="/swan/static/css/about.min.css">
{% endblock %}
{% block body %}
<div class="content">
    <div class="body-left"></div>
    <div class="body-right">
        <div class="body-right__content">
            <div class="body-right__title">About</div>
            <p>Photographer Eva Naomi uses her background in design and studio art to influence her photography. Based in Utah, she can be found working on portraits, travel, editorial and most anything of interest. </p>
        </div>
    </div>   
</div>
{% endblock %} 
{% block footerscript %}
    
{% endblock %}