{% extends "./common/layout.html" %}
{% block headscript %}
<link rel="stylesheet" href="/swan/static/css/blog.min.css">
{% endblock %}
{% block body %}
<div class="content">
    <div class="blog-list">
        <div class="blog-item">
            <div class="blog-item__img"></div>
            <p class="blog-item__title">Small Town Elegance</p>
            <p class="blog-item__subtitle">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            <a class="blog-item__action">READ MORE</a>
            <p class="blog-item__date">Editorial June 7, 2018</p>
        </div>
    </div>
</div>
{% endblock %} 
{% block footerscript %}
    
{% endblock %}