<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>香港天鹅座</title>
    <meta name="keywords" content="天鹅座,香港天鹅座,高级婚宴定制">
    <meta name="description" content="香港天鹅座高级婚宴定制" />
    <link rel="stylesheet" href="/swan/static/css/font.css">
    <link rel="stylesheet" href="https://cdn.bootcss.com/normalize/8.0.0/normalize.min.css">
    <link rel="stylesheet" href="/swan/static/css/reset.css">
    <link rel="stylesheet" href="/swan/static/js/fancybox/jquery.fancybox.min.css">
    <!--[if lt IE 9]>
        <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js "></script>
        <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js "></script>
    <![endif]-->
    <link rel="stylesheet" href="/swan/static/css/index.min.css">
</head>

<body>
    <div class="header fixed">
        <div class="header-left">
            <a class="nav-item mr-40" href="javascript:void(0)" id="go">婚礼图集</a>
            <a class="nav-item" href="/about">关于我们</a>
        </div>
        <div class="header-center">
            <a class="header-center__title" href="/">EvaNamoi</a>
            <div class="header-center__subtitle">Fine Art Photography</div>
        </div>
        <div class="header-right">
            <a class="nav-item mr-40" href="/blog">她们说</a>
            <a class="nav-item" href="/shop">预约</a>
        </div>
    </div>
    <div class="banner">
        <div class="slider">
            <ul class="play">
                <li style="background:url(/swan/static/images/banner_1.jpg) center / cover no-repeat;">
                    <a href="javascript:void(0);">
                        <div class="banner1_text"></div>
                    </a>
                </li>
                <li style="background:url(/swan/static/images/banner_2.jpg) center / cover no-repeat;">
                    <a href="/cooperate" target="_blank">
                        <div class="banner2_text"></div>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="flex-part theme">
        <div class="flex-part__title">Browse <em>the</em> Portfolio</div>
        <div class="flex-part__subtitle">婚礼图集</div>
        <div class="flex-part__content">
            <div class="flex-part__item">
                <div class="flex-conetnt">
                    <img src="/swan/static/images/themepic/1.jpg" alt="">
                    <p class="title">大雄狮和小兔子の故事</p>
                    <p class="introduce">
                        <a href="/couples">see the full gallery ↣</a>
                    </p>
                </div>
            </div>
            <div class="flex-part__item">
                <div class="flex-conetnt">
                    <img src="/swan/static/images/themepic/2.jpg" alt="">
                    <p class="title">火花</p>
                    <p class="introduce">
                        <a href="/weddings">see the full gallery ↣</a>
                    </p>
                </div>
            </div>
            <div class="flex-part__item">
                <div class="flex-conetnt">
                    <img src="/swan/static/images/themepic/3.jpg" alt="">
                    <p class="title">娜天</p>
                    <p class="introduce">
                        <a href="/family">see the full gallery ↣</a>
                    </p>
                </div>
            </div>
        </div>
        <div class="flex-part__content">
            <div class="flex-part__item">
                <div class="flex-conetnt">
                    <img src="/swan/static/images/themepic/4.jpg" alt="">
                    <p class="title">沁心以待 一梦花开</p>
                    <p class="introduce">
                        <a href="/couples">see the full gallery ↣</a>
                    </p>
                </div>
            </div>
            <div class="flex-part__item">
                <div class="flex-conetnt">
                    <img src="/swan/static/images/themepic/5.jpg" alt="">
                    <p class="title">Amusement Park</p>
                    <p class="introduce">
                        <a href="/weddings">see the full gallery ↣</a>
                    </p>
                </div>
            </div>
            <div class="flex-part__item">
                <div class="flex-conetnt">
                    <img src="/swan/static/images/themepic/6.jpg" alt="">
                    <p class="title">为你守候</p>
                    <p class="introduce">
                        <a href="/family">see the full gallery ↣</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="recommand">
        <div class="content">
            <div class="first-title">关于我们<span>about us</span></div>
            <div class="recommand-title">天鹅座Mrs Swan<br />是关于你我对生活的热爱，<br />是对幸福的敏感，<br />是穿梭在时光的每一帧里，<br />为你守护的每一段回忆。<br />2018年，从心再出发。<br />生活中的每一处欢喜，都应该成为一次确幸。</div>
            <div class="recommand-subtitle">
                <a href="/about">了解更多</a>
            </div>
        </div>
    </div>
    <div class="flex-part goods">
        <div class="flex-part__title">online appointments</div>
        <div class="flex-part__subtitle">在线预约</div>
        <div class="flex-part__content">
            <div class="flex-part__item">
                <div class="flex-conetnt">
                    <img src="/swan/static/images/goods_1.jpeg" alt="">
                    <p class="goods-title">
                        <a href="/shop-2/?category=Field+Guides">婚礼咨询预约</a>
                    </p>
                    <p class="goods-introduce">
                        <a href="/shop-2/fine-art-photography-field-guide-i-couples">Fine Art Photo Field Guide i:
                            Couples</a>
                    </p>
                    <p class="goods-price">$48.oo</p>
                </div>
            </div>
            <div class="flex-part__item">
                <div class="flex-conetnt">
                    <img src="/swan/static/images/goods_2.jpeg" alt="">
                    <p class="goods-title">
                        <a href="/shop-2/?category=Field+Guides">私人宴会咨询预约</a>
                    </p>
                    <p class="goods-introduce">
                        <a href="/shop-2/fine-art-photography-field-guide-i-couples">Fine Art Photo Field Guide i:
                            Couples</a>
                    </p>
                    <p class="goods-price">$48.oo</p>
                </div>
            </div>
            <div class="flex-part__item">
                <div class="flex-conetnt">
                    <img src="/swan/static/images/goods_3.jpeg" alt="">
                    <p class="goods-title">
                        <a href="/shop-2/?category=Field+Guides">管家服务咨询预约</a>
                    </p>
                    <p class="goods-introduce">
                        <a href="/shop-2/fine-art-photography-field-guide-i-couples">Fine Art Photo Field Guide i:
                            Couples</a>
                    </p>
                    <p class="goods-price">$48.oo</p>
                </div>
            </div>
        </div>
    </div>
    <div class="example-part">
        <div class="example-part__title">New<em>on</em>Instagram</div>
        <div class="flex-part__subtitle">联系我们</div>
        <div class="example-part__content">
            <div class="row">
                <div class="example-part__item">
                    <div class="inside">
                        <div class="inside-bg inside-bg__1" data-fancybox="cl-group" data-thumb="/swan/static/images/aboutus/1.jpg" href="/swan/static/images/aboutus/1.jpg"></div>
                    </div>
                </div>
                <div class="example-part__item">
                    <div class="inside">
                        <div class="inside-bg inside-bg__2" data-fancybox="cl-group" data-thumb="/swan/static/images/aboutus/2.jpg" href="/swan/static/images/aboutus/2.jpg"></div>
                    </div>
                </div>
                <div class="example-part__item">
                    <div class="inside">
                        <div class="inside-bg inside-bg__3" data-fancybox="cl-group" data-thumb="/swan/static/images/aboutus/3.jpg" href="/swan/static/images/aboutus/3.jpg"></div>
                    </div>
                </div>
                <div class="example-part__item">
                    <div class="inside">
                        <div class="inside-bg inside-bg__4" data-fancybox="cl-group" data-thumb="/swan/static/images/aboutus/4.jpg" href="/swan/static/images/aboutus/4.jpg"></div>
                    </div>
                </div>
                <div class="example-part__item">
                    <div class="inside">
                        <div class="inside-bg inside-bg__5" data-fancybox="cl-group" data-thumb="/swan/static/images/aboutus/5.jpg" href="/swan/static/images/aboutus/5.jpg"></div>
                    </div>
                </div>
            </div>
            <!-- <div class="row">
                <div class="example-part__item">
                    <div class="inside">
                        <div class="inside-bg inside-bg__6" data-fancybox="cl-group" data-thumb="/swan/static/images/aboutus/6.jpg" href="/swan/static/images/aboutus/6.jpg"></div>
                    </div>
                </div>
                <div class="example-part__item">
                    <div class="inside">
                        <div class="inside-bg inside-bg__7" data-fancybox="cl-group" data-thumb="/swan/static/images/aboutus/7.jpg" href="/swan/static/images/aboutus/7.jpg"></div>
                    </div>
                </div>
                <div class="example-part__item">
                    <div class="inside">
                        <div class="inside-bg"></div>
                    </div>
                </div>
                <div class="example-part__item">
                    <div class="inside">
                        <div class="inside-bg"></div>
                    </div>
                </div>
                <div class="example-part__item">
                    <div class="inside">
                        <div class="inside-bg"></div>
                    </div>
                </div>
            </div> -->
        </div>
    </div>
    {% include './common/footer.html' %}
    <script src="/swan/static/js/jquery.min.js"></script>
    <script src="/swan/static/js/jquery.ease.min.js"></script>
    <script src="/swan/static/js/jquery.slide.js"></script>
    <script src="/swan/static/js/fancybox/jquery.fancybox.min.js"></script>
    <script>
        function getUrlParam(name) {
            var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)"); //构造一个含有目标参数的正则表达式对象  
            var r = window.location.search.substr(1).match(reg); //匹配目标参数  
            if (r != null) {
                return unescape(r[2]); //返回参数值 
            } else {
                return null;
            }
        }
        var htmlTemplate = [
                '<h3>策划师＋1</h3><p>同样是婚礼，你们却和别人不一样。</p><p>1是一名婚礼灵魂策划师，从花式求婚到婚礼设计，再从婚礼设计到创意仪式，她总能给你们意想不到的Idea。每一场婚礼都有其灵魂所在，如果说婚礼人是她的工作，那么你们想要的特别就是她的梦想。</p>',
                '<h3>策划师梦奇</h3><p>一个特立独行、小众的婚庆策划师。 </p><p>也许你会因她进修国外，不拘泥于传统思想的束缚，惊叹于她对于婚庆行业的总有专业、独到的见地。</p><p>也许你会惊讶于她游历世界各地、领略异国风情的而学习、吸收各种婚礼元素。</p><p>也许你也会感动她专注婚礼本身，为新人们把控一切的执着，</p><p>不愿把婚礼做成别人眼中的样子，只愿在乎你对婚礼的感受。</p>',
                '<h3>婚礼管家小鱼</h3><p>嘿~</p><p>她是小鱼</p><p>一个懂的很多，温柔且唠叨的姑娘</p><p>一个柔弱还要把自己当汉子使的姑娘</p><p>她有着5年工作经验的婚礼管家</p><p>专业 细腻  贴心 走心 全能 是她的标签 </p><p>也是服务过的新人对她的评价</p><p>凌晨的路灯下，有她</p><p>每个你需要的时刻，有她</p><p>每个灯光的背后，有她</p><p>你迈向幸福的路上，有她</p><p>全场有她细致入微的陪伴</p>',
                '<h3>婚礼设计师毛毛</h3><p>Rome wasn\'t built in a day ，</p><p>有着七年美术功底的毛毛，用一笔一划还原你梦中的每一幕绝美画面，用万千思绪打造感动人心的婚礼。每天穿梭在大大小小的婚礼创意中，享受微醺的激情岁月。她始终相信，除了新郎新娘，最想让婚礼完美无缺的就是她。</p>',
                '<h3>婚礼缔造者 Hunter</h3><p>光鲜亮丽的舞台背后、夜深人静的会场中来来回回</p><p>你能看见他的影子，却永远追不上他的步伐。</p><p>身为建筑师的他，站在婚礼缔造者的位置，在这里是对自己事业的又一次升华。幕后工作虽然辛苦，不为人知，但对细节的追求，高品质的输出，一分不减。</p><p>你可能从来没有听说过婚礼建筑师这个行业，如果说婚礼策划师是一位创想家，那么婚礼建筑师就是让梦想落地开花。</p><p>为你把控，为你创造，开启每一次的惊喜时刻。</p>',
            ];
        $(function () {
            
            new Slider({
                $elem: $('.slider'),
                speed: 3000,
                direction: 'right'
            });
            $('[data-fancybox="cl-group"]').fancybox({
                baseClass: 'fancybox-custom-layout',
                infobar: false,
                thumbs: {
                    hideOnClose: false
                },
                touch: {
                    vertical: false
                },
                buttons: [
                    'close',
                    'thumbs',
                    'share'
                ],
                animationEffect: "fade",
                transitionEffect: false,
                idleTime: false,
                gutter: 0,
                // Customize caption area
                caption: function (instance,item) {
                    // console.log(instance);
                    // console.log(a);
                    // console.log(b);
                    // console.log(c);
                    // return '<h3>home</h3><p>interiors, exteriors, and the humans that inhabit them.</p><p><a href="https://unsplash.com/collections/curated/162" target="_blank">unsplash.com</a></p>';
                    console.log()
                    return window.htmlTemplate[item.index];
                }
            });
            $("#go").on("click", function () {
                $("html,body").animate({
                    scrollTop: "920px"
                }, 800);
            });
            if (getUrlParam("go")) {
                setTimeout(function () {
                    $("html,body").animate({
                        scrollTop: "920px"
                    }, 800);
                }, 200);
            }
        })
    </script>
</body>

</html>