<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>香港天鹅座</title>
    <meta name="keywords" content="天鹅座,香港天鹅座,高级婚宴定制">
    <meta name="description" content="香港天鹅座高级婚宴定制" />
    <link rel="stylesheet" href="/swan/static/css/font.css">
    <link rel="stylesheet" href="https://cdn.bootcss.com/normalize/8.0.0/normalize.min.css">
    <link rel="stylesheet" href="/swan/static/css/reset.css">
    <!--[if lt IE 9]>
        <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js "></script>
        <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js "></script>
    <![endif]-->
    <link rel="stylesheet" href="/swan/static/css/index.min.css">
</head>

<body>
    <div class="header fixed">
        <div class="header-left">
            <a class="nav-item mr-40" href="javascript:void(0)" id="go">Portfolio</a>
            <a class="nav-item" href="/about">About</a>
        </div>
        <div class="header-center">
            <a class="header-center__title" href="/">EvaNamoi</a>
            <div class="header-center__subtitle">Fine Art Photography</div>
        </div>
        <div class="header-right">
            <a class="nav-item mr-40" href="/blog">Blog</a>
            <a class="nav-item" href="/shop">Shop</a>
        </div>
    </div>
    <div class="banner">
        <div class="slider">
            <ul class="play">
                <li style="background:url(/swan/static/images/banner_1.jpg) center / cover no-repeat;">
                    <a href="javascript:void(0);">
                        <div class="banner1_text"></div>
                    </a>
                </li>
                <li style="background:url(/swan/static/images/banner_2.jpg) center / cover no-repeat;">
                    <a href="/cooperate" target="_blank">
                        <div class="banner2_text"></div>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="recommand">
        <div class="recommand-title">Eva Naomi is a fine art wedding photographer based in Utah, and capturing moments worldwide.</div>
        <div class="recommand-subtitle">
            <a href="/about">learn more</a>
        </div>
    </div>
    <div class="flex-part theme">
        <div class="flex-part__title">Browse
            <em>the</em> Portfolio</div>
        <div class="flex-part__content">
            <div class="flex-part__item">
                <div class="flex-conetnt">
                    <img src="/swan/static/images/demo_1.png" alt="">
                    <p class="title">Couples</p>
                    <p class="introduce">
                        <a href="/couples">see the full gallery ↣</a>
                    </p>
                </div>
            </div>
            <div class="flex-part__item">
                <div class="flex-conetnt">
                    <img src="/swan/static/images/demo_2.png" alt="">
                    <p class="title">Weddings</p>
                    <p class="introduce">
                        <a href="/weddings">see the full gallery ↣</a>
                    </p>
                </div>
            </div>
            <div class="flex-part__item">
                <div class="flex-conetnt">
                    <img src="/swan/static/images/demo_3.png" alt="">
                    <p class="title">Family</p>
                    <p class="introduce">
                        <a href="/family">see the full gallery ↣</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="flex-part goods">
        <div class="flex-part__title">In<em>the</em>Shop</div>
        <div class="flex-part__content">
            <div class="flex-part__item">
                <div class="flex-conetnt">
                    <img src="/swan/static/images/goods_1.jpeg" alt="">
                    <p class="goods-title">
                        <a href="/shop-2/?category=Field+Guides">Field Guides</a>
                    </p>
                    <p class="goods-introduce">
                        <a href="/shop-2/fine-art-photography-field-guide-i-couples">Fine Art Photo Field Guide i: Couples</a>
                    </p>
                    <p class="goods-price">$48.oo</p>
                </div>
            </div>
            <div class="flex-part__item">
                <div class="flex-conetnt">
                    <img src="/swan/static/images/goods_2.jpeg" alt="">
                    <p class="goods-title">
                        <a href="/shop-2/?category=Field+Guides">Field Guides</a>
                    </p>
                    <p class="goods-introduce">
                        <a href="/shop-2/fine-art-photography-field-guide-i-couples">Fine Art Photo Field Guide i: Couples</a>
                    </p>
                    <p class="goods-price">$48.oo</p>
                </div>
            </div>
            <div class="flex-part__item">
                <div class="flex-conetnt">
                    <img src="/swan/static/images/goods_3.jpeg" alt="">
                    <p class="goods-title">
                        <a href="/shop-2/?category=Field+Guides">Field Guides</a>
                    </p>
                    <p class="goods-introduce">
                        <a href="/shop-2/fine-art-photography-field-guide-i-couples">Fine Art Photo Field Guide i: Couples</a>
                    </p>
                    <p class="goods-price">$48.oo</p>
                </div>
            </div>
        </div>
    </div>
    <div class="example-part">
        <div class="example-part__title">New<em>on</em>Instagram</div>
        <div class="example-part__content">
            <div class="row">
                <div class="example-part__item">
                    <div class="inside">
                        <!-- <img src="./images/example_1.jpeg" alt=""> -->
                        <div class="inside-bg"></div>
                    </div>
                </div>
                <div class="example-part__item">
                    <div class="inside">
                        <div class="inside-bg"></div>
                    </div>
                </div>
                <div class="example-part__item">
                    <div class="inside">
                        <div class="inside-bg"></div>
                    </div>
                </div>
                <div class="example-part__item">
                    <div class="inside">
                        <div class="inside-bg"></div>
                    </div>
                </div>
                <div class="example-part__item">
                    <div class="inside">
                        <div class="inside-bg"></div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="example-part__item">
                    <div class="inside">
                        <div class="inside-bg"></div>
                    </div>
                </div>
                <div class="example-part__item">
                    <div class="inside">
                        <div class="inside-bg"></div>
                    </div>
                </div>
                <div class="example-part__item">
                    <div class="inside">
                        <div class="inside-bg"></div>
                    </div>
                </div>
                <div class="example-part__item">
                    <div class="inside">
                        <div class="inside-bg"></div>
                    </div>
                </div>
                <div class="example-part__item">
                    <div class="inside">
                        <div class="inside-bg"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% include './common/footer.html' %} 
    <script src="/swan/static/js/jquery.min.js"></script>
    <script src="/swan/static/js/jquery.ease.min.js"></script>
    <script src="/swan/static/js/jquery.slide.js"></script>
    <script>
    function getUrlParam(name) {  
        var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)"); //构造一个含有目标参数的正则表达式对象  
        var r = window.location.search.substr(1).match(reg);  //匹配目标参数  
        if (r != null) {
            return unescape(r[2]);  //返回参数值 
        } else {
            return null; 
        }
    }
    $(function(){
        new Slider({
            $elem: $('.slider'),
            speed: 3000,
            direction: 'right'
        });
        $("#go").on("click",function(){
            $("html,body").animate({scrollTop:"1320px"},800);
        });
        if(getUrlParam("go")){
            setTimeout(function(){
                $("html,body").animate({scrollTop:"1320px"},800);
            },200);
        }
    })
    </script>
</body>

</html>