{% extends "./common/layout.html" %}
{% block headscript %}
<link rel="stylesheet" href="/swan/static/css/shop.min.css">
{% endblock %}
{% block body %}
<div class="content">
    <p class="shop-title">Shop</p>
    <p class="shop-subtitle">
        <span class="special">All</span>
        <span>Field Guides</span>
        <span>Fine Art Prints</span>
    </p>
    <div class="flex-part goods">
        <div class="flex-part__content">
            <div class="flex-part__item">
                <div class="flex-conetnt">
                    <img src="/swan/static/images/goods_1.jpeg" alt="">
                    <!-- <p class="goods-title">
                        <a href="/shop-2/?category=Field+Guides">Field Guides</a>
                    </p> -->
                    <p class="goods-introduce">
                        <a href="/shop-2/fine-art-photography-field-guide-i-couples">Fine Art Photo Field Guide i: Couples</a>
                    </p>
                    <p class="goods-price">$48.oo</p>
                </div>
            </div>
            <div class="flex-part__item">
                <div class="flex-conetnt">
                    <img src="/swan/static/images/goods_2.jpeg" alt="">
                    <!-- <p class="goods-title">
                        <a href="/shop-2/?category=Field+Guides">Field Guides</a>
                    </p> -->
                    <p class="goods-introduce">
                        <a href="/shop-2/fine-art-photography-field-guide-i-couples">Fine Art Photo Field Guide i: Couples</a>
                    </p>
                    <p class="goods-price">$48.oo</p>
                </div>
            </div>
            <div class="flex-part__item">
                <div class="flex-conetnt">
                    <img src="/swan/static/images/goods_3.jpeg" alt="">
                    <!-- <p class="goods-title">
                        <a href="/shop-2/?category=Field+Guides">Field Guides</a>
                    </p> -->
                    <p class="goods-introduce">
                        <a href="/shop-2/fine-art-photography-field-guide-i-couples">Fine Art Photo Field Guide i: Couples</a>
                    </p>
                    <p class="goods-price">$48.oo</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %} 
{% block footerscript %}
    
{% endblock %}