<div class="footer">
    <div class="footer-left">
        <div class="footer-left__info">
            <div class="info-item">
                <p class="info-item__title">Contact</p>
                <p>
                    <a href="tel:+1-321-345-9186">15888805300</a>
                </p>
                <p>
                    <a href="mailto: 1601224968@qq.com">1601224968@qq.com</a>
                </p>
            </div>
            <div class="info-item">
                <p class="info-item__title">Address</p>
                <p>杭州市拱墅区金华南路355号</p>
                <p>远洋国际中心C座809室</p>
                {# <p>
                    <a href="/shipping-returns/">Shipping & Returns</a>
                </p>
                <p>
                    <a href="mailto: hello@thebrandshoppe.com">Privacy Policy</a>
                </p>
                <p>
                    <a href="mailto: hello@thebrandshoppe.com">Terms of Service</a>
                </p> #}
            </div>
            <div class="info-item">
                <p class="info-item__title">Social</p>
                <p>微博:@天鹅座私人宴会定制</p>
                {# <p>
                    <a href="tel:+1-321-345-9186">Instagram</a>
                </p>
                <p>
                    <a href="mailto: hello@thebrandshoppe.com">Pinterest</a>
                </p>
                <p>
                    <a href="mailto: hello@thebrandshoppe.com">Facebook</a>
                </p> #}
            </div>
        </div>
        <p class="footer-left__company">©2018 香港天鹅座私人宴会定制</p>
    </div>
    <div class="footer-right">
        <div class="search-form">
            <input class="search-val" type="text" placeholder="Join our Mailing List" />
            <label>Sign Up</label>
        </div>
    </div>
</div>