<div class="footer">
    <div class="footer-left">
        <div class="footer-left__info">
            <div class="info-item">
                <p class="info-item__title">Contact</p>
                <p>
                    <a href="tel:+1-321-345-9186">(321) 345 9186</a>
                </p>
                <p>
                    <a href="mailto: hello@thebrandshoppe.com">eva@eva-demo.com</a>
                </p>
            </div>
            <div class="info-item">
                <p class="info-item__title">Info</p>
                <p>
                    <a href="/shipping-returns/">Shipping & Returns</a>
                </p>
                <p>
                    <a href="mailto: hello@thebrandshoppe.com">Privacy Policy</a>
                </p>
                <p>
                    <a href="mailto: hello@thebrandshoppe.com">Terms of Service</a>
                </p>
            </div>
            <div class="info-item">
                <p class="info-item__title">Social</p>
                <p>
                    <a href="tel:+1-321-345-9186">Instagram</a>
                </p>
                <p>
                    <a href="mailto: hello@thebrandshoppe.com">Pinterest</a>
                </p>
                <p>
                    <a href="mailto: hello@thebrandshoppe.com">Facebook</a>
                </p>
            </div>
        </div>
        <p class="footer-left__company">©2018 Eva Naomi Photography</p>
    </div>
    <div class="footer-right">
        <div class="search-form">
            <input class="search-val" type="text" placeholder="Join our Mailing List" />
            <label>Sign Up</label>
        </div>
    </div>
</div>