<div class="header theme-black">
    <div class="header-left">
        <a class="nav-item mr-40" href="{{'/?go=portfolio' if menuType!='home' else 'javascript:void(0)'}}">Portfolio {{menuType}}</a>
        <a class="nav-item{{' active' if menuType=='about'}}" href="/about">About</a>
    </div>
    <div class="header-center">
        <a class="header-center__title" href="/">EvaNamoi</a>
        <div class="header-center__subtitle">Fine Art Photography</div>
    </div>
    <div class="header-right">
        <a class="nav-item mr-40{{' active' if menuType=='blog'}}" href="/blog">Blog</a>
        <a class="nav-item{{' active' if menuType=='shop'}}" href="/shop">Shop</a>
    </div>
</div>