button,
hr,
input {
    overflow: visible
}

progress,
sub,
sup {
    vertical-align: baseline
}

a,
del,
ins {
    text-decoration: none
}

[type=checkbox],
[type=radio],
legend {
    box-sizing: border-box;
    padding: 0
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section {
    display: block
}

legend,
ul {
    padding: 0
}

ul,
ul li {
    list-style-type: none
}

dl,
p,
ul {
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-margin-end: 0;
    -webkit-margin-start: 0
}

dd,
dl,
p,
ul {
    -webkit-margin-start: 0
}

body,
dd,
p,
ul {
    margin: 0
}

audio,
canvas,
i,
progress,
video {
    display: inline-block
}

.pos-rlt,
.showPop,
.wechat-popover,
sub,
sup {
    position: relative
}

.navList li,
.showPop,
a {
    cursor: pointer
}

html {
    background-color: #fff;
    line-height: 1.15;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%
}

body {
    font-size: 12px;
    color: #666;
    font-family: Arial, Helvetica, sans-serif, "Microsoft YaHei", 微软雅黑, STXihei, 华文细黑, Helvetica, Arial;
    -webkit-font-smoothing: antialiased
}

h1 {
    margin: .67em 0
}

figure {
    margin: 1em 40px
}

hr {
    box-sizing: content-box;
    height: 0
}

code,
kbd,
pre,
samp {
    font-family: monospace, monospace;
    font-size: 1em
}

a {
    background-color: transparent;
    -webkit-text-decoration-skip: objects
}

abbr[title] {
    border-bottom: none;
    text-decoration: underline;
    text-decoration: underline dotted
}

b,
strong {
    font-weight: bolder
}

dfn {
    font-style: italic
}

mark {
    background-color: #ff0;
    color: #000
}

small {
    font-size: 80%
}

sub,
sup {
    font-size: 75%;
    line-height: 0
}

sub {
    bottom: -.25em
}

sup {
    top: -.5em
}

audio:not([controls]) {
    display: none;
    height: 0
}

img {
    border-style: none
}

svg:not(:root) {
    overflow: hidden
}

button,
input,
optgroup,
select,
textarea {
    font-family: sans-serif;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
    cursor: pointer
}

button,
select {
    text-transform: none
}

[type=reset],
[type=submit],
button,
html [type=button] {
    -webkit-appearance: button
}

[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner,
button::-moz-focus-inner {
    border-style: none;
    padding: 0
}

[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring,
button:-moz-focusring {
    outline: ButtonText dotted 1px
}

fieldset {
    padding: .35em .75em .625em
}

legend {
    color: inherit;
    display: table;
    max-width: 100%;
    white-space: normal
}

textarea {
    overflow: auto
}

.mid-full,
.over-hide {
    overflow: hidden
}

strong,
strong * {
    font-weight: 600
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
    height: auto
}

[type=search] {
    -webkit-appearance: textfield;
    outline-offset: -2px
}

[type=search]::-webkit-search-cancel-button,
[type=search]::-webkit-search-decoration {
    -webkit-appearance: none
}

::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit
}

summary {
    display: list-item
}

[hidden],
template {
    display: none
}

ul {
    -webkit-padding-start: 0
}

i {
    font-style: normal
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: inherit
}

.h1 .small,
.h1 small,
.h2 .small,
.h2 small,
.h3 .small,
.h3 small,
.h4 .small,
.h4 small,
.h5 .small,
.h5 small,
.h6 .small,
.h6 small,
h1 .small,
h1 small,
h2 .small,
h2 small,
h3 .small,
h3 small,
h4 .small,
h4 small,
h5 .small,
h5 small,
h6 .small,
h6 small {
    font-weight: 400;
    line-height: 1;
    color: #777
}

.h1,
.h2,
.h3,
h1,
h2,
h3 {
    margin-top: 20px;
    margin-bottom: 10px
}

.h1 .small,
.h1 small,
.h2 .small,
.h2 small,
.h3 .small,
.h3 small,
h1 .small,
h1 small,
h2 .small,
h2 small,
h3 .small,
h3 small {
    font-size: 65%
}

.h4,
.h5,
.h6,
h4,
h5,
h6 {
    margin-top: 10px;
    margin-bottom: 10px
}

.mid,
.mid-full {
    width: 1200px;
    margin: 0 auto
}

.h4 .small,
.h4 small,
.h5 .small,
.h5 small,
.h6 .small,
.h6 small,
h4 .small,
h4 small,
h5 .small,
h5 small,
h6 .small,
h6 small {
    font-size: 75%
}

.h1,
h1 {
    font-size: 36px
}

.h2,
h2 {
    font-size: 30px
}

.h3,
h3 {
    font-size: 24px
}

.h4,
h4 {
    font-size: 18px
}

.h5,
h5 {
    font-size: 14px
}

.h6,
h6 {
    font-size: 12px
}

.clear {
    clear: both
}

.hide {
    display: none
}

.full-block,
.showPop:hover .wechat-popover-wrap {
    display: block
}

.mid {
    height: auto
}

.mid-full {
    height: 100%
}

.fl {
    float: left
}

.fr,
.navList {
    float: right
}

.full-block {
    width: 100%;
    height: 100%
}

.ml {
    margin-left: 15px
}

.mr {
    margin-right: 15px
}

.text-info {
    color: #0b89ff !important
}

.text-success {
    color: #aad459 !important
}

.text-danger {
    color: #ff3f1f !important
}

.bg_gray {
    background-color: #f4f4f4
}

.text-center {
    text-align: center
}

.text-left {
    text-align: left
}

.text-right {
    text-align: right
}

.text-shadow {
    text-shadow: 0 1px 0 #dee5e7, 0 2px 0 #fcfdfd, 0 5px 10px rgba(0, 0, 0, .125), 0 10px 20px rgba(0, 0, 0, .2)
}

.text-white {
    color: #fff
}

.t-caret {
    border-left: 4px solid #fff;
    margin-left: 2px
}

a:active,
a:hover,
a:link,
a:visited {
    color: #666
}

/* .header {
    width: 100%;
    height: 20px;
    line-height: 20px;
    color: #333;
    padding: 8px 0;
    border-bottom: 1px solid #eee
} */

.b-r {
    border-right: 1px solid #e5e5e5
}

.p-r-xs {
    padding-right: 5px
}

.p-r-s {
    padding-right: 10px
}

.p-r {
    padding-right: 15px
}

.m-b-lg {
    margin-bottom: 30px
}

.m-r-xxs {
    margin-right: 3px
}

.m-r-xs {
    margin-right: 5px
}

.m-r-s {
    margin-right: 10px
}

.m-r {
    margin-right: 15px
}

.m-r-md {
    margin-right: 20px
}

.m-r-lg {
    margin-right: 30px
}

.m-r-xl {
    margin-right: 40px
}

.m-r-xxl {
    margin-right: 50px
}

.padder-s {
    padding: 0 10px
}

.common_icon_map {
    background: url(../image/common_icon_map.png) no-repeat
}

.phone_icon {
    width: 14px;
    height: 12px;
    background-position: -80px -115px;
    vertical-align: middle;
    margin-top: -4px
}

.micro_icon,
.sina_icon {
    width: 16px;
    margin-top: -4px;
    vertical-align: middle
}

.sina_icon {
    height: 14px;
    background-position: -80px -130px
}

.micro_icon {
    height: 13px;
    background-position: -80px -95px
}

.harn_icon {
    width: 22px;
    height: 19px;
    background-position: 0 -95px;
    vertical-align: middle;
    margin-top: -4px
}

.wechat-popover-wrap {
    display: none;
    position: absolute;
    left: -48px;
    top: 35px;
    width: 150px;
    z-index: 1001
}

.logo1,
.logo2,
.navList li {
    display: inline-block
}

.subnav-wrap .arrow_top,
.wechat-popover-wrap .arrow_top,
.wechat-popover-wrap .arrowleft {
    position: absolute;
    left: 50%;
    top: -10px;
    margin-left: -11px;
    width: 22px;
    height: 11px;
    background: url(/image/common_icon_map.png) 0 -55px no-repeat
}

.wechat-popover-wrap .arrowleft {
    left: 1px;
    top: 50%;
    margin-top: -18px;
    width: 11px;
    height: 22px;
    background-position: -1px -94px
}

.wechat-popover-wrap .popover-con {
    padding: 0 0 10px;
    text-align: center;
    background: #fff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, .2);
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
    -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
    -ms-box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
    -o-box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
    box-shadow: 0 5px 10px rgba(0, 0, 0, .2)
}

.wechat-popover-wrap .popover-con-text {
    margin-top: 10px;
    height: 22px;
    line-height: 22px
}

.wechat-popover-wrap .popover-con img {
    margin: 10px 0;
    width: 128px
}

.nav,
.nav-fix {
    width: 100%;
    overflow: hidden
}

.nav {
    height: 74px;
    background: #fff
}

.nav-fix {
    height: 73px;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -ms-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s;
    border-bottom: 1px solid #eee;
    -webkit-box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1);
}

.logo1 {
    width: 148px;
    height: 100%;
    background: url(../image/logo1.jpg) center no-repeat
}

.logo2 {
    width: 116px;
    height: 100%;
    background: url(../image/logo2.jpg) center no-repeat
}

.navList,
.navList li {
    width: auto;
    height: 100%
}

.navList li {
    position: relative;
    line-height: 73px;
    padding: 0 18px;
    margin-left: 13px;
    color: #666;
    font-size: 16px;
    -webkit-transition: color .2s;
    -moz-transition: color .2s;
    -ms-transition: color .2s;
    -o-transition: color .2s;
    transition: color .2s
}

.codearea,
.hot_icon,
.iphone_sm,
.phone_area,
.process_info {
    position: absolute
}

.hot_icon {
    top: 8px;
    right: 3px;
    width: 25px;
    height: 23px;
    background: url(../image/common_icon_map.png) -25px -95px no-repeat;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -ms-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s;
    -webkit-animation: float ease-in-out 2s infinite;
    animation: float ease-in-out 1s infinite
}

@-webkit-keyframes float {
    0%,
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0)
    }
    50% {
        -webkit-transform: translateY(-5px);
        transform: translateY(-5px)
    }
}

@keyframes float {
    0%,
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0)
    }
    50% {
        -webkit-transform: translateY(-5px);
        transform: translateY(-5px)
    }
}

.navList li.active a,
.navList li:hover a {
    color: #87c700
}

.no-ml {
    margin-right: 0 !important
}

.icon-f-Guarantee,
.icon-f-link,
.icon-f-user {
    margin: 0 10px 0 0;
    display: inline-block;
    width: 21px;
    height: 21px;
    background: url(../images/icon.png) no-repeat;
    vertical-align: middle
}

.icon-f-user {
    background-position: 0 -122px
}

.icon-f-Guarantee {
    background-position: 0 -146px
}

.icon-f-link {
    background-position: 0 -170px
}

.code_area {
    float: left;
    margin-right: 30px
}

.code_area p {
    font-size: 16px;
    text-align: center;
    color: #96989b;
    margin-top: 4px
}

.phone_lg_icon {
    width: 23px;
    height: 18px;
    background: url(../image/common_icon_map.png) 0 -120px no-repeat;
    vertical-align: middle;
    margin-top: -4px
}

.borrow_banner {
    width: 100%;
    height: 750px
}

.iphone_lg {
    width: 204px;
    height: 586px;
    background: url(../image/iphone6_lg.png) no-repeat
}

.iphone_sm {
    width: 184px;
    height: 526px;
    background: url(../image/iphone6_sm.png) no-repeat;
    left: 120px;
    bottom: -8px
}

.phone_area {
    top: 80px;
    left: 5px
}

.codearea {
    top: 137px;
    right: 5px
}

.borrow_banner .banner_text {
    position: absolute;
    left: 400px;
    top: 130px
}

.borrow_banner .banner_text p {
    font-size: 48px;
    line-height: 68px
}

.borrow_banner .banner_text p span {
    font-size: 22px;
    border: 1px solid #91c62e;
    color: #91c62e;
    border-radius: 28px;
    padding: 13px 23px
}

.codearea p {
    font-size: 18px;
    text-align: center
}

.process_info {
    width: 751px;
    height: 250px;
    left: 400px;
    bottom: 0
}

.process_info .process_title {
    font-size: 28px;
    color: #fff
}

.process_info .process_title i.dot {
    width: 19px;
    height: 19px;
    margin-right: 11px;
    background: url(../image/common_icon_map.png) -20px -70px no-repeat
}

.borrow_process_img {
    width: 751px;
    height: 97px;
    background: url(../image/borrow_process.png) no-repeat;
    margin-top: 45px
}

#siric,
#siric canvas,
.green_bg {
    left: 0;
    width: 100%;
    position: absolute
}

.borrow_content {
    background-color: #f4f4f4;
    padding-bottom: 40px
}

#siric {
    bottom: 0;
    height: 400px
}

#siric canvas {
    top: 0;
    height: 200px;
    z-index: 10
}

.green_bg {
    top: 150px;
    height: 250px;
    background-color: #9fcd33
}

.borrow_title {
    font-size: 28px;
    color: #666;
    padding-top: 50px;
    padding-bottom: 30px
}

.boxarea {
    width: 1176px;
    height: auto;
    padding: 34px 22px;
    border: 1px solid #eee;
    background-color: #fff;
    margin-bottom: 18px
}

table td,
table th {
    border-style: solid;
    text-align: center;
    vertical-align: middle
}

.boxarea table,
table td,
table th {
    border-width: 1px;
    border-color: #eee
}

.boxarea p.title {
    font-size: 22px;
    color: #99ca44;
    margin-bottom: 10px
}

.boxarea p,
.boxarea table {
    font-size: 18px;
    color: #666
}

.boxarea p {
    line-height: 35px
}

.boxarea table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 19px;
    margin-bottom: 9px
}

table th {
    background-color: #eee;
    height: 50px;
    font-weight: 400
}

table td {
    padding: 8px;
    background-color: #fff;
    height: 55px;
    line-height: 36px
}

.nom_r {
    margin-right: 0 !important
}

.pos {
    position: absolute
}

.header {
    position: relative;
    width: 1000px;
    height: 100px;
    margin: 52px auto 0 auto;
}

.header.fixed {
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -500px;
    z-index: 999;
}

.header.theme-black .nav-item {
    color: #877878 !important;
}

.header.theme-black .nav-item.active {
    color: #000 !important;
}

.header.theme-black .header-center__title {
    color: #000 !important;
}

.header.theme-black .header-center__subtitle {
    color: #877878;
}

.header-left {
    float: left;
    width: auto;
    margin-top: 34px;
}

.header-center {
    position: absolute;
    top: 0;
    left: 50%;
    width: 340px;
    height: 100%;
    margin-left: -170px;
    color: #fff;
    text-align: center;
}

.header-center__title {
    font-family: 'MaisonDeFleur';
    font-weight: 400;
    font-style: normal;
    font-size: 42px;
    letter-spacing: 0em;
    line-height: 1em;
    text-transform: none;
    text-rendering: optimizeLegibility;
    padding: 9px 8px;
    text-align: center;
    color: #fff !important;
}

.header-center__subtitle {
    font-family: IM Fell French Canon SC;
    font-weight: 400;
    font-style: normal;
    font-size: 13px;
    letter-spacing: .26em;
    line-height: 1.6em;
    margin-top: 18px;
    text-transform: lowercase;
}

.header-right {
    float: right;
    margin-top: 34px;
}

.header .nav-item {
    display: inline-block;
    vertical-align: middle;
    color: #fff;
    font-family: Cormorant Garamond;
    font-weight: bold;
    font-style: normal;
    font-size: 12px;
    letter-spacing: .17em;
    text-transform: uppercase;
}

.header .mr-40 {
    margin-right: 40px;
}

.header .ml-40 {
    margin-left: 40px;
}

.footer {
    width: 1000px;
    height: auto;
    margin: 0 auto;
    overflow: hidden;
    padding-top: 90px;
    padding-bottom: 42px;
}

.footer-left {
    float: left;
    width: 550px;
    height: 100%;
}

.footer-left__info {
    width: 100%;
    height: 180px;
}

.footer-left__info .info-item {
    float: left;
    width: 177px;
}

.footer-left__info .info-item p {
    height: 23px;
    line-height: 23px;
}

.footer-left__info .info-item p a {
    font-family: Cormorant Garamond;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    letter-spacing: .17em;
    text-transform: lowercase;
}

.footer-left__info .info-item p.info-item__title {
    height: 50px;
    line-height: 50px;
    font-family: Cormorant Garamond;
    font-weight: 300;
    font-style: normal;
    font-size: 20px;
    letter-spacing: .07em;
    text-transform: none;
    color: #000;
}

.footer-left__company {
    font-size: 12px;
    letter-spacing: 2px;
    color: #989b9d;
    font-family: Work Sans;
    font-weight: 300;
    font-style: normal;
    line-height: 2.4em;
    text-transform: none;
}

.footer-right .search-form .search-val {
    border: 1px solid rgba(0, 0, 0, 0.12);
    background: transparent;
    display: inline-block;
    font: 300 14px "Cormorant", sans-serif;
    letter-spacing: 1px;
    padding: 10px 10px;
    width: 220px;
    outline: none;
    text-rendering: auto;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    text-align: start;
}

.footer-right .search-form label {
    display: inline-block;
    width: auto;
    margin: 12px 0 0 0;
    padding: 6px 3px 6px 0;
    font-family: Work Sans;
    font-weight: 300;
    font-style: normal;
    letter-spacing: .02em;
    line-height: 2.4em;
    text-transform: none;
    font-size: 13px;
    color: #525252;
    margin-left: 25px;
}