.content{
    width:1000px;
    margin: 25px auto;
    .body-left{
        float:left;
        width:45%;
        padding-bottom: 36%;
        background: url(../images/about_left.jpg) no-repeat center / cover;
    }
    .body-right{
        position: relative;
        float:right;
        width:55%;
        padding-bottom: 36%;
        .body-right__content{
            position: absolute;
            top:50%;
            margin-top:-87px;
            padding-left: 34px; 
            .body-right__title{
                font-family: Cormorant Garamond;
                font-weight: 300;
                font-style: normal;
                font-size: 32px;
                letter-spacing: .09em;
                line-height: 1.6em;
                text-transform: none;
                color: #333;
                margin-bottom: 30px;
            }
            p{
                font-family: Work Sans;
                font-weight: 300;
                font-style: normal;
                font-size: 13px;
                letter-spacing: .02em;
                line-height: 2.4em;
                text-transform: none;
                color: #616161;
                text-align: justify;
            }
        }
    }
}