.content{
    width:1000px;
    margin: 25px auto;
    .blog-list{
        width:100%;
        margin-top:100px;
        overflow: hidden;
        .blog-item{
            width:225px;
            height:auto;
            &__img{
                width:100%;
                padding-bottom: 100%;
                background: url(../images/blog_1.jpg) no-repeat center / cover;
                margin-bottom: 15px;
            }
            &__title{
                margin-bottom: 10px;
                font-family: Cormorant Garamond;
                font-weight: 300;
                font-style: italic;
                font-size: 25px;
                letter-spacing: 0em;
                line-height: 1em;
                text-transform: none;
                text-decoration: none;
                color: #000;
                -webkit-box-ordinal-group: 3;
                -moz-box-ordinal-group: 3;
                -ms-flex-order: 3;
                -webkit-order: 3;
                order: 3;    
            }
            &__subtitle{
                white-space: pre-wrap;
                font-family: Work Sans;
                font-weight: 300;
                font-style: normal;
                font-size: 14px;
                letter-spacing: 0em;
                line-height: 1.6em;
                text-transform: none;
                color: rgba(0,0,0,.69);
                margin-bottom: 10px;    
            }
            &__action{
                display: inline-block;
                font-family: Cormorant Garamond;
                font-weight: 400;
                font-style: normal;
                font-size: 13px;
                letter-spacing: .1em;
                text-transform: uppercase;
                text-decoration: none;
                color: rgba(0,0,0,.74);  
                margin-bottom: 10px;
                &::after{
                    content: "\2192";
                    padding-left: .7em;
                    font-size: 14px;
                    letter-spacing: 0em;
                    text-transform: none;
                    font-family: Cormorant Garamond;
                    font-weight: 400;
                    font-style: normal;
                    font-size: 13px;
                    letter-spacing: .1em;
                    text-transform: uppercase;
                }
            }
            &__date{
                font-family: Work Sans;
                font-weight: 200;
                font-style: normal;
                font-size: 12px;
                letter-spacing: .12em;
                text-transform: none;
                color: #000;
            }
        }
    }
}